// 颜色定义规范
$color-background: #fff;
$color-background-d: rgba(0, 0, 0, 0.1);
$color-highlight-background: #666;
$color-dialog-background: #666;
$color-theme: #007fff;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #000;
$color-text-d: rgba(0, 0, 0, 0.5);
$color-text-l: rgba(0, 0, 0, 0.8);
$color-text-ll: rgba(0, 0, 0, 1);
$color-white-l: rgba(255, 255, 255, 0.5);
$color-white-ll: rgba(255, 255, 255, 0.8);